body {
  background-color: rgb(243, 244, 245);
  padding: 0;
  margin: 0;
  /* font-family: 'Amatic SC', cursive; */
  font-family: 'Rajdhani', sans-serif;
  letter-spacing: .1em;
  font-size: 1.5em;
  text-align: center;
}

.over-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

.container {
  align-self: center;
}

.search-container {
  justify-self: center;
  margin-bottom: 15px;
}

.search {
  border: none;
  border-bottom: 3px solid rgb(86, 94, 101);
  height: 46px;
  font-family: inherit;
  font-size: inherit;
  background-color: rgb(243, 244, 245);
  color: rgb(174, 180, 184);
  width: 60%;
}

.search:focus {
  outline: none;
}

.search::placeholder {
  color: rgb(174, 180, 184);
}

input {
  border: none;
}

.menu {
  min-width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tiles {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
}

.button {
  text-decoration: none;
  background-color: rgb(86, 94, 101);
  color: rgb(218, 220, 222);
  padding: 5px 20px;
  text-align: right;
}

.tile1 {
  background: rgb(149, 199, 174);
  color: rgb(86, 94, 101);
  padding: 7px 30px;
  text-align: center;
}

.tile2 {
  background-color: rgb(199, 174, 149);
  color: rgb(86, 94, 101);
  padding: 7px 30px;
  text-align: center;
}

.tile3 {
  background-color: rgb(199, 149, 174);
  color: rgb(86, 94, 101);
  padding: 7px 30px;
  text-align: center;
}

.tile4 {
  background-color: rgb(149, 174, 199);
  color: rgb(86, 94, 101);
  padding: 7px 30px;
  text-align: center;
}

.tile5 {
  background-color: rgb(174, 199, 149);
  color: rgb(86, 94, 101);
  padding: 7px 30px;
  text-align: center;
}

.tile6 {
  background-color: rgb(174, 149, 199);
  color: rgb(86, 94, 101);
  padding: 7px 30px;
  text-align: center;
}

a:hover {
  background-color: #343c43;
}